<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Ziply Trainings</title>
</head>
<body>
    <div class="container">
        <img src="../static/logo.png" alt="" class="logo" />
        <h1 style="margin-bottom:40px;"> Ziply Trainings</h1>
        <h2 style="margin-bottom:40px;">Select a training to provide feedback on.</h2>
        <h3>Washington</h3>
        <h3>Oregon</h3>
        <h3>Idaho</h3>
    </div>
</body>
</html>