<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Thank You</title>
</head>
<body>
    <div class="container">
        <img src="../static/logo.png" alt="" class="logo" />
        <h1 style="margin-bottom:40px;"> Thank You!</h1>
        <h2 style="margin-bottom:40px;">Thank you for your feedback on the training.</h2>
        <h2>Your feedback is important to us!</h2>
    </div>
</body>
</html>